.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-area {
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-area img {
    padding: 20px;
    width: 170px;
    height: 130px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.login input {
    margin-bottom: 16px;
    height: 36px;
    border: solid 2px #1498d5;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #d9d9d9;
    text-align: center;
    transition: all 0.3s;
    color: #404642;
}
input:focus {
    border: solid 2px #73c685;
}

input:hover {
    box-shadow: 0 0 8px #1498d5;
}

form button {
    margin-bottom: 16px;
    height: 36px;
    border: solid 2px #1498d5;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #73c685;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 4px 0 #404642;
    transition: all 0.3s;
}

.entrar:active {
    box-shadow: 2px 1px 0 #404642;
    transform: translateY(6px);
}
.entrar:hover {
    background-color: #3ca566;
}

.bottom {
    border-top: solid 1px #d9d9d9;
    padding-top: 16px;
    margin-top: 16px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google {
    border: solid 2px #1498d5;
    border-radius: 7px;
    height: 36px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: #68b6c7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 4px 0 #404642;
    transition: all 0.3s;
}
.google:active {
    box-shadow: 2px 1px 0 #404642;
    transform: translateY(6px);
}
.google:hover {
    background-color: #589baa;
}

a {
    margin-top: 16px;
    font-weight: bold;
    color: #1498d5;
    transition: all 0.3s;
}

a:hover {
    transform: translateX(4px);
    color: #3ca566;
    text-decoration: underline;
}

.erroSenha {
    color: #e85b5b;
}
.erroSenha:hover {
    color: #e85b5b;
}
